// Font Family
$prompt: 'Prompt', sans-serif;
$mitr: 'Mitr', sans-serif;
$sarabun: 'TH Sarabun New', sans-serif;

// stylelint-enable

$body_bg: $white;
$font_family: $sarabun;

$border_radius: 2px;
$border_radius_lg: 4px;
$border_radius_xs: 0px;

$delay: all 0.3s ease-in-out;

@import 'bootstrap/_variables';